#macOS
.DS_Store

# Sextant
.data
credentials.env

# direnv
.envrc

# Kubernetes
.kubeconfig

# Visual studio code
*.code-workspace

# daml artefacts
.interfaces
.package-database

# Generated folders
**/dist/

# Node
**/node_modules/

# Logs
**/*.log